Node_Red_script.json
[
    {
        "id": "8e8ad94d.cf343",
        "type": "mqtt in",
        "z": "6d966ed6.463ec",
        "name": "",
        "topic": "temp",
        "qos": "2",
        "broker": "50ef46be.e7f5e8",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "2c3d72fa.6c01b6",
                "ad035b13.6e5508",
                "d74d8226.2e34d",
                "fc563512.bba018"
            ]
        ]
    },
    {
        "id": "d74d8226.2e34d",
        "type": "wiotp out",
        "z": "6d966ed6.463ec",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "87a0ae78.d5e26",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "ad035b13.6e5508",
        "type": "ui_gauge",
        "z": "6d966ed6.463ec",
        "name": "",
        "group": "37a37917.867326",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Degree Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 473,
        "y": 298,
        "wires": []
    },
    {
        "id": "cfaa98b5.748b38",
        "type": "ui_switch",
        "z": "6d966ed6.463ec",
        "name": "",
        "label": "Light",
        "group": "37a37917.867326",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 70,
        "y": 360,
        "wires": [
            [
                "7c8cefd8.ea521",
                "114ac99.d01ad36"
            ]
        ]
    },
    {
        "id": "6c9f06fb.7eefc8",
        "type": "ui_audio",
        "z": "6d966ed6.463ec",
        "name": "",
        "group": "37a37917.867326",
        "voice": "hi-IN",
        "always": "",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "49a0366f.13e938",
        "type": "function",
        "z": "6d966ed6.463ec",
        "name": "",
        "func": "msg.payload = \"Light is on\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "6c9f06fb.7eefc8"
            ]
        ]
    },
    {
        "id": "80caa88d.1afa48",
        "type": "function",
        "z": "6d966ed6.463ec",
        "name": "",
        "func": "msg.payload = \"Light is off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 477.4765625,
        "y": 470.15234375,
        "wires": [
            [
                "6c9f06fb.7eefc8"
            ]
        ]
    },
    {
        "id": "7c8cefd8.ea521",
        "type": "switch",
        "z": "6d966ed6.463ec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "49a0366f.13e938"
            ],
            [
                "80caa88d.1afa48"
            ]
        ]
    },
    {
        "id": "114ac99.d01ad36",
        "type": "rpi-gpio out",
        "z": "6d966ed6.463ec",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 312.5,
        "y": 356,
        "wires": []
    },
    {
        "id": "96d9931c.c5156",
        "type": "ui_switch",
        "z": "6d966ed6.463ec",
        "name": "",
        "label": "A/C",
        "group": "37a37917.867326",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "42270779.1cb268",
                "654578fd.942918"
            ]
        ]
    },
    {
        "id": "917fe529.19fae8",
        "type": "ui_audio",
        "z": "6d966ed6.463ec",
        "name": "",
        "group": "37a37917.867326",
        "voice": "hi-IN",
        "always": "",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "6217e549.46985c",
        "type": "function",
        "z": "6d966ed6.463ec",
        "name": "",
        "func": "msg.payload = \"Cooling System Deployed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "917fe529.19fae8"
            ]
        ]
    },
    {
        "id": "60e824dd.17109c",
        "type": "function",
        "z": "6d966ed6.463ec",
        "name": "",
        "func": "msg.payload = \"Shutting down the Cooling System\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 557.4765625,
        "y": 670.15234375,
        "wires": [
            [
                "917fe529.19fae8"
            ]
        ]
    },
    {
        "id": "42270779.1cb268",
        "type": "switch",
        "z": "6d966ed6.463ec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "6217e549.46985c"
            ],
            [
                "60e824dd.17109c"
            ]
        ]
    },
    {
        "id": "654578fd.942918",
        "type": "rpi-gpio out",
        "z": "6d966ed6.463ec",
        "name": "",
        "pin": "36",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 392.5,
        "y": 556,
        "wires": []
    },
    {
        "id": "fc563512.bba018",
        "type": "switch",
        "z": "6d966ed6.463ec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "15",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 791.8984375,
        "y": 311,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "50ef46be.e7f5e8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "87a0ae78.d5e26",
        "type": "wiotp-credentials",
        "z": "",
        "name": "Raspi1-cred",
        "org": "mdrwms",
        "serverName": "",
        "devType": "b827eb68927d",
        "devId": "b827eb68927d",
        "keepalive": "100",
        "cleansession": true,
        "tls": "",
        "usetls": false
    },
    {
        "id": "37a37917.867326",
        "type": "ui_group",
        "z": "",
        "name": "Home Automation",
        "tab": "43265611.33c358",
        "disp": true,
        "width": "6"
    },
    {
        "id": "43265611.33c358",
        "type": "ui_tab",
        "z": "",
        "name": "Iot proj",
        "icon": "dashboard"
    }
]